{% extends 'my_app/my_app_base.html' %}
{% block body_block %}
<div class="row justify-content-center">
    <div class="col-8">
        <br>
        <h1>Info About The Development of this Website</h1>
        <p style="text-align:center;">This website is the first 
            full stack web development project that I have worked on. The frontend was developed using html, css, bootstrap and javascript. The backend was 
            developed in python using the Django web development framework.</p>
    </div>
</div>
{% endblock body_block %}