{% extends 'my_app/my_app_base.html' %}

{% block body_block %}
    <h1> {{blog.title}} </h1>
        {% if blog.state == True %}
        <p> {{blog.publish_date}} </p>
        {% endif %}
        <p> Author: {{blog.user}} </p>
        {% comment %} The autoescape ensures that templatetag content is rendered as html {% endcomment %}
        {% autoescape off %}
            {{blog.content}}
        {% endautoescape %} 
        <p> State: {{blog.state}} </p>
        <p> current_user: {{user}} </p>

        {% if user.is_authenticated %}
            {% if blog.user == user %}
                <a href="{% url 'my_app:update' pk=blog.pk%}"><input type="button" value="Edit"></a>
                <a href="{% url 'my_app:delete' pk=blog.pk %}"><input type="button" value="Delete"></a>
                {% if not blog.state %}
                    {% comment %} <form method="post">
                        {% csrf_token %}
                        <input type="submit" name="submit_publish" value="Publish">
                    </form> {% endcomment %}
                    {% csrf_token %}
                    <a href="{% url 'my_app:blog_publish' pk=blog.pk%}"><button>Publish</button></a>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if blog.state == True %}

            <h2> Add Comment: </h2>
            {% comment %} <form method="post" action="/comment/create"> {% endcomment %}
            <form method="post">
                {% csrf_token %}
                {{comment_form.as_p}}
                <input type="submit" value="Submit">
                {% comment %} <p>
                <label for="author">Author</label>
                <input type="text" name="author" id="author">
                </p>
                <p>
                <label for="comment_text">Comment</label>
                <textarea name="comment_text" id="comment_text" cols="30" rows="10"></textarea>
                </p>
                <p>
                <input type="submit" name="submit_comment" value="Comment">
                </p> {% endcomment %}
            </form>

        

            <ul>
                {% for comment in blog.comments.all %}
                    {% if user.is_authenticated %}
                        {% if blog.user == user %}
                            {% if  comment.status == False%}
                                <li>
                                    {% autoescape off %}
                                        {{comment.content}}
                                    {% endautoescape %} 
                                    <p>Author: {{comment.author}}</p>
                                    <p>State: {{comment.status}}</p>
                                    {% comment %} Put in buttons here {% endcomment %}
                                    <a href="{% url 'my_app:comment_approve' pk=comment.pk%}"><button>Approve</button></a>
                                    <a href="{% url 'my_app:comment_reject' pk=comment.pk%}"><button>Reject</button></a>
                                    
                                    <!--
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="submit" name="$a{{comment.pk}}" value="Approve">
                                        <input type="submit" name="$r{{comment.pk}}" value="Reject">
                                    </form>
                                    -->

                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% for comment in blog.comments.all %}
                        {% if  comment.status == True%}
                            <li>
                                {% autoescape off %}
                                    {{comment.content}}
                                {% endautoescape %} 
                                <p>Author: {{comment.author}}</p>
                                <p>State: {{comment.status}}</p>
                            </li>
                        {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

    <script>
        var comment = document.querySelector("#comment_text")
        var editor = new MediumEditor(comment);
    </script>
        

{% endblock body_block %}