{% extends 'my_app/my_app_base.html' %}

{% block body_block %}
<h1>Unpublished blogs:</h1>

{% for blog in blog_list %}

    {% if blog.user == user %}
        <div class="tight_spacing">
            {% comment %} {% if blog.state == False %} {% endcomment %}
            {% comment %} Line redudant as get_queryset() call overidden in views to include a filter to filter out ojects with false state{% endcomment %}
            {% comment %} Link should take you to update page {% endcomment %}
            <p><a href="{% url 'my_app:detail' pk=blog.pk %}">{{blog.title}}</a></p> 
            <p>Author: {{blog.user}}</p>
            {% comment %} <p>State: {{blog.state}}</p> {% endcomment %}
        </div>
    {% endif %}
{% endfor %}

{% endblock body_block %}

{% comment %} (blog.user == current_user) and {% endcomment %}