{% extends 'my_app/my_app_base.html' %}

{% block body_block %}
<h1>List of all posted blogs</h1>

{% for blog in blog_list %}
<ul>
    {% if blog.state == True %}
    <li>
            <p><a href="{% url 'my_app:detail' pk=blog.pk %}">Blog Title: {{blog.title}}</a></p> 
            <p>Author: {{blog.user}}</p>
            <p>State: {{blog.state}}</p>
            <p>Comments: {{blog.comments.all.count}}</a></p>
            {% comment %} <p><a href="{% url 'my_app:comment_list' %}">Comments: {{blog.comments.all.count}}</a></p> {% endcomment %}
            {% comment %} {% for comment in blog.comments.all %}
                <p>{{comment.content}}</p>
            {% endfor %} {% endcomment %}
    </li>
    {% endif %}
</ul>
{% endfor %}

{% endblock body_block %}