{% extends 'my_app/my_app_base.html' %}

{% block body_block %}

    {% if create_blog %}
        <h1>Create New Blog:</h1>
    {% else %}
        <h1>Update Blog:</h1>
    {% endif %}
    <br>

    <div style="text-align: center;">
            {% csrf_token %}
            {{form.as_p}}    
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>

    <script>
        var textArea = document.querySelector("#id_content")
        var editor = new MediumEditor(textArea);

    </script>

{% endblock body_block %}